<h1><%= @title %></h1>
<div class="sub1">
	<ul>
        <li><%= link_to "UTSW Hospitals and Clinics", '#' %></li>
        <li><%= link_to "Health Care Professionals", '#' %></li>
        <li><%= link_to "Health Library", '#' %></li>
    </ul>
</div>